################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Load/Load/obj/Debug/Combined1.tokens
